<script src='/scripts/edit-song.js' type='text/javascript'></script>
<script id="json-data"><%=@song.to_json %></script>
<h1 class="text-center">Edit Song</h1>
<p><%= @song.name %> by <%= @artists_name %></p>
<p>p.s. only fill out fields for desired changes</p>
<form method="post" action=<%= "/edit_songs_form/#{@song.id}" %>>
  Song name<br>
  <input type="input" name="name" placeholder=<%= @song.name %>></input><br>
  Recorded date<br>
  <input type="date" name="recorded_at"><br>
  Add artist/s<br>
  <div id="additional-artists">
    <input type="input" name="artist" placeholder="Additional Artist Name"></input>
    <i class="fa fa-plus" aria-hidden="true"></i><br>
  </div>
  <input type="submit" class="btn btn-primary" value="Submit Changes"><br>
  <input type="button" class="btn btn-danger" id="delete" value="Delete Song">
</form>
