<script src='/scripts/songs.js' type='text/javascript'></script>
<script id="json-data"><%=@songs.to_json%></script>
<div class="list-group">
  <% @songs.each do |song| %>
    <div class="list-group-item list-group-item-action song-link" id=<%= "#{song.id}"%>>
      <h5 href="#" class="list-group-item-heading"><%= song.name %></h5>
      <p class="list-group-item-text">
        by:
        <% for artist in song.artists %>
          <%= artist.name + " " %>
        <% end %>

      </p>
      <p class="list-group-item-text">
        <% if song.liked_by(@current_user) %>
          <i class="fa fa-heart unfavorite" aria-hidden="true" id=<%= "#{song.id}" %>></i> 
        <% else %>
          <i class="fa fa-heart-o favorite" aria-hidden="true" id=<%= "#{song.id}" %>></i> 
        <% end %>
      </p>
      <div class="song-details" style="display: none;" id=<%= "#{song.id}" %>>
        <button type="button" class="btn btn-secondary download" >Download</button>
        <button type="button" class="btn btn-secondary share">Share</button>
      </div>
    </div>
  <% end %>
</div>
